
@model TeaHouse.Models.ProductFormViewModel
@{
    ViewBag.Title = (Model.Id > 0) ? "Edit" : "Create";
}


<div class="container mt-5 pt-5">
    <section id="loginForm" class="row justify-content-center">
        @using (Html.BeginForm((Model.Id > 0) ? "Edit" : "Create", "Products", FormMethod.Post, new { role = "form", @class = "col-md-6" }))
        {
            <h2 class="text-center text-primary " id="title">@ViewBag.Title.</h2>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            if (Model.Id > 0)
            {
                @Html.TextBoxFor(m => m.Id, new { @class = "d-none" })
            }

            <div class="my-3">
                <div class="form-floating">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Title)
                </div>
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
            <div class="my-3">
                <div class="form-floating">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Description)
                </div>
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
            <div class="my-3">
                <div class="form-floating">
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Price)
                </div>
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
            </div>



            <div class="row">
                <input type="submit" value="Save" class="btn btn-primary rounded-pill" />
            </div>
        }
    </section>
</div>

